/*===============================================
Lists mixins - Co-op Front-end Toolkit
===============================================*/

@mixin list {

  margin-bottom: $half-spacing-unit;
}

@mixin list-bare {
  list-style-type: none;
  padding: 0;
}

@mixin list-inline {
  @include list-bare;

  li {
    display: inline-block;
  }
}

@mixin definition-list {

  margin-top: 0;
  margin-bottom: $half-spacing-unit;

  dt {
    font-family: $regular;
    margin-bottom: 0;
  }

  dd {
    font-family: $bold;
    margin: 0 0 $quarter-spacing-unit/2;
  }
}
