{% for video in sorted_videos %}

<div class="margin-bh row video-tile">
  <div class="column">

    <h2>
      <a href="{{ video.video_url }}">
        {{ video.title }} by {{video.presenter}}
      </a>
    </h2>

    watched on {{ video.date | date: "%Y&#8209;%m&#8209;%d" }} at: <a href="{{ video.video_url }}">{{ video.video_url }}</a>

    {% if video.note and video.note != blank %}
      <p> {{ video.note }} </p>
    {% endif%}

    {% if video.image_url and video.image_url != blank %}
      <div class="video-image row margin-tq">
        <div class="column all-7">
          <a href="{{ video.video_url }}">
            <img src="{{ video.image_url }}" alt="the image from the tweet advertising this video"/>
          </a>
        </div>
      </div>
    {% endif%}

  </div>
</div>
{% endfor %}
