/*===============================================
Logo - Co-op Front-end Toolkit
===============================================*/

@import "variables";
@import "mixins/logo";

.coop-logo,
.coop-logo-small {
  @include coop-logo;

  width: 36px;
  height: 38px;

  img {
    height: 38px;
  }
}

.coop-logo-large {
  @extend .coop-logo;

  width: 68px;
  height: 72px;

  img {
    height: 72px;
  }
}
