/*===============================================
Helpers - Co-op Front-end Toolkit
===============================================*/

@import "../variables";
@import "../mixins/helpers";

//  helpers - for prototyping only

.brand { color: $brand; }
.brand-bg { background: $brand; }

.text { color: $text; }
.text-bg { background: $text; }

.white { color: $white; }
.white-bg { background: $white; }
.black { color: $black; }
.black-bg { background: $black; }

.link-blue { color: $link; }
.link-blue-bg { background: $link; }
.link-hover-blue { color: $link-hover; }
.link-hover-blue-bg { background: $link-hover; }
.link-focus-blue { color: $link-focus; }
.link-focus-blue-bg { background: $link-focus; }
.link-blue-focused { outline: 4px solid $link-focus; }
.link-visited { color: $link-visited; }
.link-visited-bg { background: $link-visited; }

.button-green { color: $button-green; }
.button-green-bg { background: $button-green; }
.button-green-hover-bg { background: $button-primary-hover; }
.button-primary-dark { color: $button-primary-dark; }
.button-primary-dark-bg { background: $button-primary-dark; }
.button-primary-dark-hover-bg { background: $button-primary-dark-hover; }

// Secondary colours
.yellow-bright { color: $yellow-bright; }
.yellow-bright-bg { background: $yellow-bright; }
.yellow-light { color: $yellow-light; }
.yellow-light-bg { background: $yellow-light; }
.yellow-mid { color: $yellow-mid; }
.yellow-mid-bg { background: $yellow-mid; }

.green-bright { color: $green-bright; }
.green-bright-bg { background: $green-bright; }
.green-light { color: $green-light; }
.green-light-bg { background: $green-light; }
.green-mid { color: $green-mid; }
.green-mid-bg { background: $green-mid; }
.green-dark { color: $green-dark; }
.green-dark-bg { background: $green-dark; }

.green-blue-bright { color: $green-blue-bright; }
.green-blue-bright-bg { background: $green-blue-bright; }
.green-blue-light { color: $green-blue-light; }
.green-blue-light-bg { background: $green-blue-light; }
.green-blue-mid { color: $green-blue-mid; }
.green-blue-mid-bg { background: $green-blue-mid; }
.green-blue-dark { color: $green-blue-dark; }
.green-blue-dark-bg { background: $green-blue-dark; }

.blue-bright { color: $blue-bright; }
.blue-bright-bg { background: $blue-bright; }
.blue-light { color: $blue-light; }
.blue-light-bg { background: $blue-light; }
.blue-mid { color: $blue-mid; }
.blue-mid-bg { background: $blue-mid; }
.blue-dark { color: $blue-dark; }
.blue-dark-bg { background: $blue-dark; }

.pink-bright { color: $pink-bright; }
.pink-bright-bg { background: $pink-bright; }
.pink-light { color: $pink-light; }
.pink-light-bg { background: $pink-light; }
.purple-mid { color: $purple-mid; }
.purple-mid-bg { background: $purple-mid; }
.purple-dark { color: $purple-dark; }
.purple-dark-bg { background: $purple-dark; }

.orange-mid { color: $orange-mid; }
.orange-mid-bg { background: $orange-mid; }
.red-mid { color: $red-mid; }
.red-mid-bg { background: $red-mid; }
.red-dark { color: $red-dark; }
.red-dark-bg { background: $red-dark; }

.grey-light { color: $grey-light; }
.grey-light-bg { background: $grey-light; }
.grey-mid { color: $grey-mid; }
.grey-mid-bg { background: $grey-mid; }
.grey-dark { color: $grey-dark; }
.grey-dark-bg { background: $grey-dark; }

// Legacy remove later
.success-green { color: $success-green; }
.success-green-bg { background: $success-green; }
.info-orange { color: $info-orange; }
.info-orange-bg { background: $info-orange; }
.saleerror-red { color: $saleerror-red; }
.saleerror-red-bg { background: $saleerror-red; }
.coop-grey { color: $coop-grey; }
.coop-grey-bg { background: $coop-grey; }
.body-copy { color: $body-copy; }
.body-copy-bg { background: $body-copy; }
.coop-border-grey { border: 1px solid $coop-border-grey; }
.coop-border-grey-bg { background: $coop-border-grey; }
.offwhite { color: $offwhite; }
.offwhite-bg { background: $offwhite; }
.offwhite-highlighted-bg { background: $offwhite-highlighted; }
.light-grey { color: $light-grey; }
.light-grey-bg { background: $light-grey; }
.darker-grey { color: $darker-grey; }
.darker-grey-bg { background: $darker-grey; }
.dark-grey { color: $dark-grey; }
.dark-grey-bg { background: $dark-grey; }
.bluey-dark-grey { color: $bluey-dark-grey; }
.bluey-dark-grey-bg { background: $bluey-dark-grey; }
.added-to-page-bg { background: $added-to-page; }
