---
---
@import './coop-toolkit.scss';

.video-image {
  a {
    text-decoration: none;
    border-bottom: none;
  }
}

header {
  padding-top: 30px;
  padding-bottom: 27px;
  background: #1D2534;
  .site-name {
    font-size: 1.3125em;
    font-family: "AvenirNextLTW01-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.8;
    color: #FFFFFF;
    vertical-align: top;
    border-bottom: 0;
  }
}

.video-tile {
  &:nth-child(odd) {
      background-color: #1d253414;
  }
}
