/*===============================================
Cards - Co-op Front-end Toolkit
===============================================*/

@import "../variables";
@import "../mixins/typography";

.card {
  @include spacing('margin', 'bottom', 'base');
}

.card__content {
  padding: 12px;
  color: $text;
  background: $page;
  box-shadow: 0 5px 0 0 rgba(0,0,0,0.05);

  > :first-child {
    margin-top: 0;
    padding-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  @include media(medium) {
    padding: 24px;
  }
}


.card__image {
  display: block;
  width: 100%;
}

// Only apply the content offset if an image is present
.card__image + .card__content {
  position: relative;
  z-index: 101;
  margin: -32px $eighth-spacing-unit 0 0;

  @include media(small) {
    margin-right: $quarter-spacing-unit;
  }

  @include media(medium) {
    margin: -50px $half-spacing-unit 0 0;
  }
}


.card__title {
  color: $text;
}

.card-heading {
  position: absolute;
  top: -20px;
  left: 20px;
  z-index: 110;
  display: block;
  padding: 20px 24px;
  background: $page;
  font-family: $medium;
  font-size: em-calc(16px);
  padding: 8px 12px;

  @include media(medium) {
    top: -24px;
    left: 40px;
    padding: 8px 12px;
    font-size: em-calc(20px);
  }

  @include media(large) {
    top: -35px;
    padding: 18px 24px;
  }
}

.card-heading__link {
  display: block;
  color: $text;
  text-decoration: underline;
  border-bottom: 0;

  &:hover {
    color: $text;
    text-decoration: none;
  }
}

// Some styles are only applied if the card is a link
.card__link {
  display: block;
  border-bottom: 0;

  .card__content {

    &:hover {
      box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.05);

      .card__title {
        text-decoration: none;
      }
    }

    .card__title {
      text-decoration: underline;
    }
  }
}
