/*===============================================
Main footer - Co-op Front-end Toolkit
===============================================*/

@import "../functions";
@import "../mixins/helpers";
@import "../mixins/lists";
@import "../logo";

.footer-main {
  margin-top: $base-spacing-unit;
  background: $offwhite;

  .footer-main-top {
    padding-top: $quarter-spacing-unit;
    padding-bottom: $quarter-spacing-unit;
  }

  .coop-logo {
    margin: 0 auto;
    padding: 5px;
  }

  .support-links {
    margin-top: $quarter-spacing-unit;
    margin-bottom: $quarter-spacing-unit;
    padding-top: $half-spacing-unit;
    padding-bottom: $half-spacing-unit;
    border-top: 1px solid $coop-border-grey;

    h4 {
      margin-bottom: $quarter-spacing-unit;
      color: $coop-blue;
      font-size: em-calc(16);
    }

    ul {
      @include list-bare;
      margin-bottom: $half-spacing-unit;
      font-size: em-calc(16);

      li {
        margin-bottom: $quarter-spacing-unit;
      }

      a {
        border: none;
      }
    }

    .social-links {
      @include list-inline;
      text-align: center;

      @include media(small) {
        margin-left: -.5em;
        text-align: left;
      }

      li {
        margin: 0 .5em;
      }
    }
  }

  .bottom-links {
    background: $coop-blue;
    text-align: center;

    ul {
      @include list-inline;
      margin-bottom: 0;
      font-size: em-calc(12);

      @include media(medium) {
        font-size: em-calc(16);
      }
    }

    a {
      display: inline-block;
      padding: $quarter-spacing-unit /2 $quarter-spacing-unit;
      border-width: 0;
      color: $white;

      &:hover,
      &:focus {
        text-decoration: underline;
      }

      @include media(medium) {
        padding: $quarter-spacing-unit;
      }
    }
  }

  .legalese {
    padding-top: $quarter-spacing-unit;
    padding-bottom: $quarter-spacing-unit;
    text-align: center;
    color: $coop-grey;

    p {
      margin: 0;
      font-size: em-calc(12);

      @include media(medium) {
        font-size: em-calc(16);
      }
    }
  }
}
