/*===============================================
Main header - Co-op Front-end Toolkit
===============================================*/

@import "../mixins/helpers";
@import "../logo";

.header {
  @include clearfix;
  @include spacing("margin", "bottom", "half");
  @include spacing("padding", "top", "quarter");
  @include spacing("padding", "right", "quarter");
  @include spacing("padding", "bottom", "quarter");
  @include spacing("padding", "left", "quarter");
  background: $page;
}

.header--shadow {
  box-shadow: 0px -4px 50px 0px rgba(0,0,0,0.15);
}

@mixin headerColour($colour: $purple-mid) {
  background-color: $colour;
}

.header--bgcolour {
  @include headerColour();
}
