/*===============================================
Main navigation - Co-op Front-end Toolkit
===============================================*/

@import "../variables";
@import "../functions";
@import "../mixins/helpers";
@import "../mixins/lists";

.nav-primary {
  position: absolute;
  z-index: 100;
  width: 100%;
  margin-left: 100%;
  background: $white;
  transition: all, 0.25s, ease-in-out;

  &.open {
    margin-left: 0;
  }

  @include media(medium) {
    position: static;
    margin-left: 0;
    height: auto;
    border: 1px solid $coop-border-grey;
    border-width: 1px 0;
    text-align: left;
  }

  ul {
    @include list-bare;
    margin: 0 0 $quarter-spacing-unit;
    font-size: em-calc(16);

    @include media(medium) {
      margin: 0;

      li {
        position: relative;
        display: inline-block;

        &:before {
          content: " ";
          position: absolute;
          z-index: 1;
          left: 0;
          top: 50%;
          height: 24px;
          margin-top: -12px;
          border-left: 1px solid $coop-border-grey;
          transition: all, .25s, ease-in-out;
        }

        &:first-child {
          &:before {
            content: none;
          }
        }

        &.active > a {
          background: $offwhite;
        }

        &:hover ul {
          display: block;
        }
      }

      > li {
        margin-right: -.25em;
      }
    }

    a {
      position: relative;
      z-index: 2;
      display: block;
      padding: $quarter-spacing-unit;
      border-bottom: 0;
      color: $coop-blue;
      margin-right: -1px;

      &:hover,
      &:focus {
        background: $offwhite;
        z-index: 3;
      }

      .icon {
        display: none;
      }

      @include media(medium) {
        color: $coop-link-blue;

        .icon {
          display: inline-block;
          font-size: 1em;
          margin-left: .5em;
        }
      }
    }

    // Sub-nav
    ul {
      margin-left: $quarter-spacing-unit;
      border-left: 2px solid $coop-blue;
      background: $white;
      font-size: 1em;

      @include media(medium) {
        position: absolute;
        z-index: 100;
        display: none;
        margin-left: -1px;
        margin-right: -2px;
        border: 1px solid $coop-border-grey;
        border-top-width: 0;

        li {
          width: 100%;
          white-space: nowrap;

          &:before {
            content: none;
          }

          a {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.nav-standout {
  ul {
    a {
      font-size: em-calc(38);

      @include media(medium) {
        font-size: em-calc(16);
      }
    }
  }
}

.nav-secondary {
  margin: 2em 0;
  margin-left: 0;
  text-align: center;

  ul {
    @include list-inline;
    border: 1px dashed $coop-grey;
    border-width: 1px 0;

    a {
      display: block;
      padding: $quarter-spacing-unit;
      border-bottom: 0;
      color: $coop-grey;
      font-weight: bold;

      &:hover,
      &:focus,
      &.active {
        background: $offwhite;
      }

      &:focus {
        outline: 1px dotted $white;
      }
    }
  }
}
