/*===============================================
Search field - Co-op Front-end Toolkit
===============================================*/

@import "../variables";

.search-form {
  position: relative;
  padding: 0;

  input {
    margin-bottom: 0;
    padding-right: 4em;

    &:hover + button,
    &:focus + button {
      background: $coop-blue;
    }
  }

  button {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    padding: 0 15px;
    margin-bottom: 0;
    background: $coop-grey;
    border: 0;
    border-radius: 0 $border-radius $border-radius 0;
    box-shadow: none;

    &:hover,
    &:focus {
      background: $coop-blue-highlighted !important;
    }

    .icon {
      position: relative;
      top: -.125em;
      color: $white;
    }

  }
}
